body{
    margin: 0;
}
a{
    padding: 10px;
    margin: 2px;
        border: 4px dotted green;
        font-weight: 900;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 120px;
    
}
li{
    
    line-height: 60px;
    
    
   

}
img{
    max-width: 150px;
    height:auto;
    padding: 5px 10px;
}
h3{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content:start;
    align-items: center;
    background-color: #f8c3c3ce;
    padding: 3px 2px;
    
}
.cat1{
    list-style: none;
}
.cat1a{
    font-size: 12px;

}
.cat2{
    list-style: none;

}
.cat2a{
    font-size: 12px;

}
.container {
    display: inline-block;
    
}

.right {
    float: center;
    align-content: center;
}
    
