* {background-color: beige;}

h3 {
    display:block;
    text-align: center;
    background-color: rgb(248, 44, 88);
    color: white;}


a { text-decoration: none;
    color: rgb(54, 54, 56);
    font-weight: 700;
    margin-top: 12px;
    font-size: 16px;}


a:hover { text-decoration: underline; }
