

ul > li {
    list-style: none;
    flex: 1 1 40%;
    text-align: left;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
}

div > ul{
   
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
}

li > a > img {
    height: auto;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

